<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1509448613959-44d527dd5d86?ixlib=rb-1.2.1&auto=format&fit=crop&w=1020&q=80);">
  <%= render './shared/navbar' %>
  <div class="container">
    <h1>Shake it up!</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>
<div class="bar-bckg">
  <% if @cocktails.size == 0 %>
    <div class="container">
      <h2>No Cocktail yet</h2>
    </div>
  <% else %>
    <div class="container cards-home ">
        <% @cocktails.each do |cocktail| %>
          <div class="card-cocktail zoom">
          <%= link_to cocktail_path(cocktail) do %>

            <% if cocktail.photo.attached? %>
              <%= cl_image_tag cocktail.photo.key  %>
            <% else %>
              <%= image_tag('https://images.unsplash.com/photo-1573812808311-43b8a5ea358f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80') %>
            <% end %>
          <% end %>
            <p class="card-text"><%= cocktail.name %></p>
          </div>
        <% end %>
    </div>
  <% end %>
</div>

